:root {
  --primary-green: #008000;
  --primary-text: #FFFFFF;
  --secondary-green: #006400;
  --dark-grey: #333333;
  --light-grey: #CCCCCC;
  --secondary-text: #000000;
  background-color: var(--dark-grey);
  color: var(--primary-text);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #000000;
    --secondary-color: #000000;
    }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  border: none;
  padding: 0;
}
