.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-green);
  color: var(--primary-text);
  height: 70vh;
  width: 100vw;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  z-index: 1;
  text-shadow: 0.1vw 0.1vw 0.2vw var(--secondary-text);
}

.header h1{
  margin: 0;
  margin-top: 10vh;
}

.imgdiv{
  height: 80vh;
  width: 80vh;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  position: absolute;
  left: 0;
  z-index: 3;
  transform: 100ms;
}

.imgdiv img{
  margin-left: -5vw;
}

.uimgdiv{
  height: 100vh;
  width: 100vh;
  background-color: var(--secondary-green);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  position: absolute;
  left: 0;
  z-index: 2;
}

.nimgdiv{
  height: 100vh;
  width: 100vh;
  background-color: var(--dark-grey);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  position: absolute;
  right: 0;
  z-index: 1;
}

.header h1{
  z-index: 5;
}

.header h5 {
    font-size: x-large;
    z-index: 5;
}

.mainsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150vh;
}

.chunkytext{
  margin-top: 30vh;
  margin-bottom: 5vh;
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  color: var(--primary-text);
  height: 80vh;
  width: 100vw;
  font-size: 5rem;
  font-style: bold;
  position: relative;
}

.chunkyimg{
  width: 12vw;
  height: 12vw;
  position: absolute;
  right: 25vw;
  top: 20vh;
  transition: 200ms;
}

.chunkyimg:hover{
  margin-top: 5vh;
  cursor: pointer;
}

.chunkytext h1{
  margin: 0;
}

.aboutdiv{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 80vh;
  width: 100vw;
  background: linear-gradient(to right, var(--primary-green), var(--secondary-green));
}

.aboutimg{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutimg2{
  background-color: var(--light-grey);
  border-radius: 3vh;
  width: 80%;
  height: 80%;
  box-shadow: .1vh .1vh 2vh var(--dark-grey);
  overflow: hidden;
  object-fit: cover;
  position: relative;
  transition: 200ms;
}

.aboutimg2 img{
  transition: 500ms;
}

.aboutimg2:hover img {
  transform: scale(1.1);
}

.abouttext{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1vw;
}

.abouttext h1{
  font-size: xxx-large;
  padding-right: 2vw;
}

.abouttext h3{
  padding-right: 2vw;
}

.triplet{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color: var(--secondary-text);
}

.triplet h2{
  font-size: xx-large;
}

.triplet h3{
  margin-left: 5%;
  margin-right: 5%;
}

.triplet .img{
  height: 40%;
  width: 100%;
  position: relative;
}

.a{
  width: 20vw;
  height: 30vw;
  background-color: var(--light-grey);
  border-radius: 2vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  text-align: center;
  transition: 300ms;
  position: relative;
  overflow: hidden;
  box-shadow: .1vh .1vh 1vh black;
}

.a:hover{
  margin-bottom: 5vh;
}

.b{
  width: 20vw;
  height: 30vw;
  background-color: var(--light-grey);
  border-radius: 2vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  text-align: center;
  transition: 300ms;
  position: relative;
  overflow: hidden;
  box-shadow: .1vh .1vh 1vh black;
}

.b:hover{
  margin-bottom: 5vh;
}

.c{
  width: 20vw;
  height: 30vw;
  background-color: var(--light-grey);
  border-radius: 2vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  text-align: center;
  transition: 300ms;
  position: relative;
  overflow: hidden;
  box-shadow: .1vh .1vh 1vh black;
}

.c:hover{
  margin-bottom: 5vh;
}

.container{
  height: 50vh;
  width: 100vw;
  display: inline-flex;
  flex-direction: row-reverse;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  margin-bottom: 20vh;
  font-size: 1vw;
}

.linkbtn{
  display: flex;
  width: 10vw;
  height: 8vh;
  background-color: var(--light-grey);
  justify-content: center;
  color: var(--secondary-text);
  border-radius: .5vw;
  transition: 100ms;
}

.linkbtn:hover{
  background-color: rgb(142, 142, 142);
}

.left{
  transition: 400ms;
  position: absolute;
  left: -30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 85vw;
  background: linear-gradient( var(--primary-green), var(--secondary-green));
  -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}

.leftimg{
  margin-left: 3vw;
  width: 15vw;
  object-fit: scale-down;
  position: relative;
}

.lefttext{
  width: 15vw;
  padding-left: 3vw;
}

.right{
  transition: 400ms;
  position: absolute;
  right: -30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 85vw;
  background: linear-gradient( var(--secondary-green), var(--primary-green));
  -webkit-clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0 100%);
}

.rightimg{
  margin-right: 3vw;
  width: 15vw;
  object-fit: scale-down;
  position: relative;
}

.righttext{
  width: 15vw;
  padding-right: 3vw;
  text-align: right;
}

.left:hover{
  transform: translateX(20vw);
}

.left:hover ~ .right{
  transform: translateX(20vw);
}

.right:hover{
  transform: translateX(-20vw);
}

.left:has(+.right:hover){ 
  transform: translateX(-20vw);
}

.footer{
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--primary-green);
  position: relative;
  color: var(--primary-text);
  max-height: 80vh;
}

.footer h3{
  text-shadow: .1vh .1vh .1vh black;
}

.footer a{
  color: var(--primary-text);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer a:hover{
  color: grey;
}

.fimgdiv{
  height: 90vh;
  width: 90vh;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  transform: 100ms;
}

.fuimgdiv{
  height: 100vh;
  width: 100vh;
  background-color: var(--secondary-green);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.fnimgdiv{
  height: 100vh;
  width: 100vh;
  background-color: var(--dark-grey);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
  clip-path: polygon(100% 0, 0% 100%, 0 0);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.footertop { 
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
  z-index: 5;
  margin-right: 15vw;
  font-size: 1vw;
}

.footertop h3 {
  margin: 5vw;
}

.footerleft {
  grid-area: 3 / 1 / 4 / 2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: var(--primary-text);
  z-index: 5;
  margin-left: 5vw;
  font-size: 2vw;
  margin-bottom: 5vh;
}

.footerright { 
  grid-area: 3 / 3 / 4 / 4; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: var(--primary-text);
  z-index: 5;
  margin-right: 5vw;
  font-size: 2vw;
  margin-bottom: 5vh;
}

.footerlogo { 
  grid-area: 2 / 2 / 4 / 3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;  
  object-fit: contain;
}

/* Mobile */
@media (max-width: 700px) {

  .aboutdiv {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .aboutimg {
    width: 100%;
    height: 30%;
  }

  .aboutimg2 {
    width: 95%;
  }

  .abouttext{
    margin: 0;
    width: 90%;
    height: 60%;
    font-size: .5rem;
  }

  .header{
    font-size: 1rem;
  }

  .footerright{
    font-size: 1rem;
  }

  .footerleft{
    font-size: 1rem;
  }

  .footertop{
    display: none;
  }

  .footerlogo{
    margin-bottom: 5rem;
  }

  .chunkytext{
    font-size: 3rem;
  }

  .chunkyimg{
    display: none;
  }

  .triplet{
    flex-direction: column;
    height: auto;
  }

  .a{
    width: 90%;
    height: 30rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .b{
    width: 90%;
    height: 30rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .c{
    width: 90%;
    height: 30rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .container{
    font-size: 1vw;
    margin-bottom: 30rem;
    font-size: .4rem;
  }

  .lefttext{
    margin-right: 2.5rem;
  }

  .righttext{
    margin-left: 2.5rem;
  }

  .linkbtn{
    width: 5rem;
    height: 2rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .imgdiv{
    display: none;
  }

 .fimgdiv{
  display: none;
  }

  .container{
    font-size: 1vw;
    margin-bottom: 40vh;
  }
}

@media (prefers-color-scheme: light) {
  
}
