.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-green);
  color: var(--primary-text);
  height: 80vh;
  width: 100vw;
  font-size: 4.5vw;
  font-weight: 700;
  text-align: center;
  position: relative;
  z-index: 1;
  text-shadow: 0.1vw 0.1vw 0.2vw var(--secondary-text);
}

.imgdiv{
  height: 100vh;
  width: 100vh;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  position: absolute;
  left: 0;
  z-index: 3;
  transform: 100ms;
}

.imgdiv img{
  margin-left: -5vw;
}

.uimgdiv{
  height: 140vh;
  width: 140vh;
  background-color: var(--secondary-green);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  position: absolute;
  left: 0;
  z-index: 2;
}

.nimgdiv{
  height: 120vh;
  width: 120vh;
  background-color: var(--dark-grey);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  position: absolute;
  right: 0;
  z-index: 1;
}

.header h1{
  z-index: 5;
}

.header h5 {
    font-size: large;
    z-index: 5;
}

.mainsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.footertop { 
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
  z-index: 5;
  background-color: yellow !important;
}

.footertop h3 {
  margin: 5vw;
}

.footerleft {
  grid-area: 2 / 1 / 4 / 2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  color: var(--primary-text);
  z-index: 5;
  background-color: blue;
}

.footerright { 
  grid-area: 2 / 3 / 4 / 4; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  color: var(--primary-text);
  z-index: 5;
  background-color: green !important;
}

.footerlogo { 
  grid-area: 3 / 2 / 4 / 3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;  
  height: 10vh;
  background-color: red;
}

@media (prefers-reduced-motion) {
  body {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .imgdiv{
    display: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .imgdiv{
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  
}
